<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" />
<link rel="stylesheet" href="iconStyle.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
<header>
    <img src="../static/Logo.jpg" th:src="@{/Logo.jpg}">
    <nav>
        <ul>
            <li><a href="/home" th:href="@{/home}">Home</a></li>
            <li><a href="/list" th:href="@{/list}">Add</a></li>
            <li><a href="/view" th:href="@{/view}">View</a></li>
            <li><a href="/search" th:href="@{/search}">Search</a></li>
<!--             <li><a href="/contact" th:href="@{/contact}">Contact</a></li> -->
<!--             <li><a href="/payPalHome" th:href="@{/payPalHome}">PayPal</a></li> -->
			<li><a href="/map" th:href="@{/map}">Map</a></li>
            <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
            
        </ul>
          
    </nav>
</header>
<div class="container">
    <div><a href="/list" th:href="@{/list}"><img src="../static/addcar.jpg" th:src="@{/addcar.jpg}"></a></div>
    <br>
    <div><a href="/view" th:href="@{/view}"><img src="../static/viewcar.jpg" th:src="@{/viewcar.jpg}"></a></div>
     <br>
    <div><a href="/search" th:href="@{/search}"><img src="../static/searchcar.jpg" th:src="@{/searchcar.jpg}"></a></div>
</div>
<br>
<br>


<div class="footer">
		<h3>&copy 2022 Copyright AUTOKER</h3>
		<div class="wrapper" >
			<a href="https://www.facebook.com/"><div class="icon facebook">
				<div class="tooltip">Facebook</div>
				<span><i class="fab fa-facebook-f"></i></span>
			</div></a>
			<a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><div class="icon twitter">
				<div class="tooltip">Twitter</div>
				<span><i class="fab fa-twitter"></i></span>
			</div></a>
			<a href="https://www.instagram.com/"><div class="icon instagram">
				<div class="tooltip">Instagram</div>
				<span><i class="fab fa-instagram"></i></span>
			</div></a>
			<a href="https://github.com/"><div class="icon github">
				<div class="tooltip">Github</div>
				<span><i class="fab fa-github"></i></span>
			</div></a>
			<a href="https://www.youtube.com/"><div class="icon youtube">
				<div class="tooltip">YouTube</div>
				<span><i class="fab fa-youtube"></i></span>
			</div></a>
			<a href="https://mail.google.com/mail/u/1/?ogbl#inbox"><div class="icon gmail">
				<div class="tooltip">Gmail</div>
				<span><i class="fab fa-google"></i></span>
			</div></a>
		</div>
		<br>
		<br>
	</div>


</body>
</html>